@page "/events"
@using MyEventBlazorApp.Services
@using MyEventsAdoNetDB.Entities
@inject IEventsService EventsService
@inject IUserProfileService UserProfileService

<p class="heading">CSS Gallery</p>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="gallery-image">
        @foreach (var ev in events)
        {
            <div class="img-box">
                <img src="https://picsum.photos/350/250?image=444" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>@ev.Name</p>
                        <p class="opacity-low">@user.First_Name</p>
                    </div>
                </div>
            </div>
        }
    </div>
}



@code {
    List<Event>? events;
    UserProfile? user;

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<Event> ev = await EventsService.GetEvents();
        events = ev.ToList();

        user = await UserProfileService.GetUserProfileById();


    }
}
