@page "/events"
@using MyEventBlazorApp.Services
@using MyEventsAdoNetDB.Entities
@inject IEventsService EventsService

<p class="heading">CSS Gallery</p>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in events)
            {
                <tr>
                    <td>@contact.Id</td>
                    <td>@contact.Name</td>
                    <td>@contact.User_id</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="gallery-image">
    <div class="img-box">
        <img src="https://picsum.photos/350/250?image=444" alt="" />
        <div class="transparent-box">
            <div class="caption">
                <p>Library</p>
                <p class="opacity-low">Architect Design</p>
            </div>
        </div>
    </div>
    <div class="img-box">
        <img src="https://picsum.photos/350/250/?image=232" alt="" />
        <div class="transparent-box">
            <div class="caption">
                <p>Night Sky</p>
                <p class="opacity-low">Cinematic</p>
            </div>
        </div>
    </div>
    <div class="img-box">
        <img src="https://picsum.photos/350/250/?image=431" alt="" />
        <div class="transparent-box">
            <div class="caption">
                <p>Tea Talk</p>
                <p class="opacity-low">Composite</p>
            </div>
        </div>
    </div>
    <div class="img-box">
        <img src="https://picsum.photos/350/250?image=474" alt="" />
        <div class="transparent-box">
            <div class="caption">
                <p>Road</p>
                <p class="opacity-low">Landscape</p>
            </div>
        </div>
    </div>
    <div class="img-box">
        <img src="https://picsum.photos/350/250?image=344" alt="" />
        <div class="transparent-box">
            <div class="caption">
                <p>Sea</p>
                <p class="opacity-low">Cityscape</p>
            </div>
        </div>
    </div>
    <div class="img-box">
        <img src="https://picsum.photos/350/250?image=494" alt="" />
        <div class="transparent-box">
            <div class="caption">
                <p>Vintage</p>
                <p class="opacity-low">Cinematic</p>
            </div>
        </div>
    </div>
</div>

@code {
    List<Event>? events;

    protected override async Task OnInitializedAsync()
    {
        var ev = await EventsService.GetEvents();
        events = ev.ToList();
    }
}
